$color: #1976d2;
body {
  background-color: #fff;
  text-align: center;
  font-family: 'Lato', sans-serif;
}
* {
  margin: 0;
  outline: 0;
  padding: 0;
  box-sizing: border-box;
}

input::placeholder {
  color: #888;
  font-weight: 400;
  text-transform: uppercase;
}

.info-dp {
  width: 200px;
  height: 200px;
  float: left;
  background-position: center center;
  background-size: cover;
  &.no-image{
    width: 0;
    height: 0;
  }
}
.info-wrap {
  display: flex;
  align-items: flex-start;
}
.info-details {
  width: 200px;
  float: left;
  text-align: left;
  padding-right: 10px;
  &.no-image{
    text-align: center;
  }

  h3 {
    font-size: 14px;
    padding-bottom: 10px;
    color: $color;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
    border-bottom: thin solid rgba(0, 0, 0, 0.1);
  }
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  // background-color: #fafafa;
  box-shadow: 0px 1px 2px 2px rgba(0,0,0,0.2);
  position: relative;
  z-index: 1;

  form {
    align-self: center;
    display: flex;
  }
  input {
    min-height: 30px;
    padding: 10px;
    align-self: center;
    box-sizing: border-box;
    font-size: 13px;
    width: 300px;
    border: thin solid rgba(0,0,0,0.05);
    border-radius: 3px 0 0 3px;
  }
  button {
    background-color: $color;
    padding: 3px 14px;
    border-radius: 0 3px 3px 0;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    &.reset {
      border-radius: 3px 0 0 3px;
    }
  }
}

#map {
  flex-grow: 1;
  width: 100vw;
  transition: width 0.2s linear;
  &.active {
    transition: width 0.2s linear;
    width: 70vw;
  }
}
.wrap {
  display: flex;
  height: calc(100vh - 60px);
}
#results {
  flex-grow: 1;
  width: 0;
  overflow: scroll;
  transition: width 0.2s linear;
  &.active {
    transition: width 0.2s linear;
    width: 30vw;
  }

  .place {
    background-color: #fff;
    // border-bottom: thin solid rgba(0,0,0,0.05);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    padding: 10px;
    overflow: hidden;
    color: #444;
    cursor: pointer;
    display: flex;
    transition: all 0.2s ease-in-out;
    align-items: center;
    &:first-child {
      border-top: thin solid rgba(0,0,0,0.05);
    }
    .dp {
      transition: all 0.2s ease-in-out;
      min-width: 50px;
      height: 50px;
      background-color: $color;
      border-radius: 3px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .details {
      text-align: left;
      color: inherit;
      padding-left: 15px;
      h5 {
        transition: all 0.2s ease-in-out;
        font-weight: 700;
        margin-bottom: 5px;
        font-size: 14px;
        color: inherit;
      }
      p {
        font-weight: 300;
        font-size: 12px;
        color: inherit;
        overflow: hidden;
        max-height: 30px;
      }

    }
    &.active {
      margin-bottom: 15px;
      padding: 0;
      margin-top: 12px;
      background-color: $color;
      color: #fff;
      box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.25), 0px -1px 2px 2px rgba(0, 0, 0, 0.1);
      transition: all 0.2s ease-in-out;
      .dp {
        transition: all 0.2s ease-in-out;
        min-width: 120px;
        height: 120px;
        border-radius: 0;
      }
      p {
        max-height: 99px;
      }
      h5 {
        transition: all 0.2s ease-in-out;
        margin-bottom: 15px;
      }
    }

  }
}